<div class="d-flex justify-content-center align-items-center">
  <div class="d-flex align-items-center">
    <form name="form" (ngSubmit)="onSubmitRegister(registerForm)" #registerForm="ngForm" [mustMatch]="['password','password_confirm']" novalidate>
      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'REGISTER.F_NAME.name' | translate }}" ngModel name="fName" required #fName="ngModel">
        <mat-error *ngIf="fName.errors?.required">{{ 'REGISTER.F_NAME.error' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="{{ 'REGISTER.L_NAME.name' | translate }}" ngModel name="sName" required #sName="ngModel">
        <mat-error *ngIf="sName.errors?.required">{{ 'REGISTER.L_NAME.error' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput placeholder="{{ 'REGISTER.EMAIL.name' | translate }}" ngModel name="email" required email #email="ngModel">
        <mat-error *ngIf="email.errors?.required">{{ 'REGISTER.EMAIL.error1' | translate }}</mat-error>
        <mat-error *ngIf="email.errors?.email">{{ 'REGISTER.EMAIL.error2' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="{{ 'REGISTER.PASSWORD.name' | translate }}" ngModel name="password" required minlength="6" #password="ngModel">
        <mat-error *ngIf="password.errors?.required">{{ 'REGISTER.PASSWORD.error1' | translate }}</mat-error>
        <mat-error *ngIf="password.errors?.minlength">{{ 'REGISTER.PASSWORD.error2' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="{{ 'REGISTER.PASSWORD_CONFIRM.name' | translate }}" name="password_confirm" required ngModel #password_confirm="ngModel" (ngModelChange)="password_confirm.control.markAsTouched()">
        <mat-error *ngIf="password_confirm.errors?.required">{{ 'REGISTER.PASSWORD_CONFIRM.error1' | translate }}</mat-error>
        <mat-error *ngIf="password_confirm.errors?.mustMatch">{{ 'REGISTER.PASSWORD_CONFIRM.error2' | translate }}</mat-error>
      </mat-form-field>
      <div class="d-flex justify-content-end">
        <button [disabled]="!registerForm.valid" mat-button>{{ 'REGISTER.REGISTER_BTN' | translate }}</button>
      </div>
    </form>
  </div>
</div>