<mat-drawer-container class="admin-drawer-container" autosize>

    <mat-drawer #drawer class="admin-drawer-container_sidenav" mode="side">
        <a class="sidenav_router_link" [routerLink]="[ '/admin/country' ]">Countries</a>
        <a class="sidenav_router_link" [routerLink]="[ '/admin/brand' ]">Brands</a>
    </mat-drawer>

    <div class="admin-drawer-container_content">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>dehaze</mat-icon>
        </button>
        <span [style.display]="authCustom" class="welcome">Welcome {{currentUserName}}</span>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>