<mat-drawer-container class="admin-drawer-container" autosize [dir]="current_lang_dir">

    <mat-drawer #drawer class="admin-drawer-container_sidenav" mode="side" [position]="current_drawer_position">
        <a class="sidenav_router_link" [routerLink]="[ '/admin/country' ]">{{ 'ADMIN.ITEMS.countries' | translate }}</a>
        <a class="sidenav_router_link" [routerLink]="[ '/admin/brand' ]">{{ 'ADMIN.ITEMS.brands' | translate }}</a>
    </mat-drawer>

    <div class="admin-drawer-container_content">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>dehaze</mat-icon>
        </button>
        <span [style.display]="authCustom" class="welcome">{{ 'ADMIN.WELCOME' | translate }} {{currentUserName}}</span>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>