/deep/ .admin-drawer-container {
    height: 100vh;
    .admin-drawer-container_sidenav {
        height: 100%;
        width:285px;
        padding:15px 0px 0px 15px;
        .admin-drawer_inside-container {
            height: 100%;
        }
        .loggout-link-entity {
            margin: 50px 0px 0px 0px;
            padding: 5px;
            border-radius: 25px;
            .sidenav_router_link {
                font-weight: bold;
                color:darkgreen;
                font-size: 20px;
                display: block;
                width: 100%;  
                cursor: pointer;  
            }
        }
        .sidenav_router_link {
            font-weight: bold;
            color:#81ac00;
            font-size: 24px;
            display: block;
            width: 100%;
        }
    }
    .mat-drawer-content {
        position: relative;
        .admin-drawer-container_content {
            .welcome {
                position: absolute;
                font-weight: bold;
                color:#81ac00;
                font-size: 38px;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
            }
            .post_type {
                padding-top: 25px;
                .btn_add {
                    margin-bottom:25px; 
                }
                .controls {
                    button {
                        margin:0 10px;
                    }
                }
                .post_type_container {
                    margin-bottom:10px; 
                    .mat-accordion {
                        .mat-expansion-panel {
                            .mat-expansion-panel-content {
                                padding-top: 10px;
                                background-color: #caca53;
                                .post_type_formGroup {
                                    padding:15px 0px 15px 0px;
                                    .post_type_formGroup_record {
                                        width:80%;
                                    }
                                }
                            }
                        }
                    }
                    .mat-expansion-panel-header-description {
                        p {
                            width: 100%;
                            text-align: right;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    &[dir="rtl"] {
        .admin-drawer-container_sidenav {
            height: 100%;
            width:285px;
            padding:15px 15px 0px 0px;
        }
    }
}