<form mat-dialog-content [formGroup]="newCountry">
  <mat-form-field>
    <input color="" formControlName="country_name" matInput placeholder="{{ 'ADMIN.COUNTRY.country_name' | translate }}">
  </mat-form-field>
  <div formArrayName="cities">
    <div class="new_city d-flex align-items-center">
      <button (click)="add_new_city()" mat-raised-button class="primary-background primary-font-color form-btn">{{ 'ADMIN.CITY.add_city' | translate }}</button>
    </div>
    <mat-form-field *ngFor="let city of newCountry.get('cities')['controls'];let i = index;">
      <input [formControlName]="i" matInput placeholder="{{ 'ADMIN.CITY.city_name' | translate }}">
    </mat-form-field>
  </div>
</form>

<div mat-dialog-actions class="d-flex justify-content-end">
  <button type="submit" (click)="onNoClick()" mat-raised-button
    class="primary-background primary-font-color form-btn">{{ 'ADMIN.DIALOG.no' | translate }}</button>
  <button type="submit" (click)="onYesClick()" mat-raised-button
    class="primary-background primary-font-color form-btn">{{ 'ADMIN.DIALOG.yes' | translate }}</button>
</div>