<div class="page d-flex justify-content-center align-items-center">
    <div class="page_mid-box d-flex flex-column justify-content-center align-items-center">
        <div [style.display]="authBoxLoaded" class="authBox">
            <img src="../../assets/user.png" alt="">
            <div class="user-controls">
                <a class="secondary-font-color secondary-font-size" [routerLink]="[ '/user/login' ]">Sign in</a>
                <a class="secondary-font-color secondary-font-size" [routerLink]="[ '/user/register' ]">Sign up</a>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>