@import '~@angular/material/theming';

@include mat-core();

$store-locatto-app-primary: mat-palette($mat-lime, 900);
$store-locatto-app-accent:  mat-palette($mat-pink, A200);

$store-locatto-app-warn: mat-palette($mat-red);

$store-locatto-app-theme: mat-light-theme($store-locatto-app-primary, $store-locatto-app-accent, $store-locatto-app-warn);

@include angular-material-theme($store-locatto-app-theme);

div {
    &[dir='rtl'] {
        .mat-form-field, h1, .form-label, .form-btn, .mat-expansion-panel-header-title {
            font-family: 'Markazi Text', sans-serif;
        }
        .lang-oppi{
            font-family: 'Raleway', sans-serif;
        }
    }
    &[dir='ltr'] {
        .mat-form-field, h1, .form-label, .form-btn, .mat-expansion-panel-header-title {
            font-family: 'Raleway', sans-serif;
        }
        .lang-oppi{
            font-family: 'Markazi Text', sans-serif;
        }
    }
}

html,body {
    background-color: palegreen;
}

.primary-background {
    background-color: #81ac00;
}
.secondary-background {
    background-color: #827717;
}
.third-background {
    background-color: darkgreen;
}

.primary-font-color {
    color:#f9fbe7;
}
.secondary-font-color {
    color:#6c9000;
}
.third-font-color {
    color:darkgreen;
}

.primary-font-size {
    font-size: 24px;
}
.secondary-font-size {
    font-size: 28px;
}

.primary-spacing {
    margin:15px 0px!important;
}

mat-form-field {
    width: 100%;
}

.page {
    width: 100vw;
    height: 100vh;
    .page_mid-box {
        width: 50%;
        height: 50%;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: darkgreen !important;
}

.mat-form-field {
    margin:14px 0px 0px 0px;
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            .mat-form-field-infix {
                font-size:24px;
            }
        }
        .mat-form-field-subscript-wrapper {
            margin:14px 0px 0px 0px;
            font-size:16px;
        }
    }
}

.fab-theme-btn {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: darkgreen;
    border-radius: 50%;
    display: inline-block;
    span {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color:palegreen;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

.form-label {
    color: darkgreen;
    font-size: 20px;
}
.form-btn {
    font-size: 18px;
}